<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Ultimo Login</th>
      <th scope="col">Membro Desde</th>
      <th *ngIf="auth.canEdit(auth.user$ | async)" scope="col">Nivel de Acesso</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <th class="align-middle" scope="row"><img src="{{ user.photoURL }}" width="40" alt=""></th>
      <td class="align-middle">{{ user.name }}</td>
      <td class="align-middle">{{ user.email }}</td>
      <td class="align-middle">{{ user.lastLogin | date }}</td>
      <td class="align-middle">{{ user.createdAt | date }}</td>
      <td *ngIf="auth.canEdit(auth.user$ | async)" class="align-middle">
        <div>
            <button (click)="toggleAdmin(user)" class="btn btn-sm">Administrador {{ user.roles.admin }}</button>
            <button (click)="toggleStandard(user)" class="btn btn-sm">Standard {{ user.roles.standard }}</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>