<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">

  <a class="navbar-brand" [routerLink]="['/songs']">
    <img src="../assets/logotipo_gatunos_atualizado-04.png" height="30" class="d-inline-block align-top" alt="Gatunos Logo">
    Gatunos - Backoffice
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/songs']">Repertório <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Utilizadores <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <button (click)="logout()" class="btn btn-dark">Logout</button>
  </div>

</nav>