<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark justify-content-between">

  <a class="navbar-brand" [routerLink]="['/songs']">
    <img src="../assets/logo.png"
         height="30" 
         class="d-inline-block align-top"
         alt="Gatunos Logo" />
    Gatunos - Backoffice
  </a>

  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-dark ">
      <img [src]="user.photoURL" [alt]="user.name" class="userProfileImg">
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li *ngIf="auth.isAdmin(user)" role="menuitem"><a class="dropdown-item" [routerLink]="['/songs']">Repertório</a></li>
      <li *ngIf="auth.isAdmin(user)" role="menuitem"><a class="dropdown-item" [routerLink]="['/users']">Utilizadores</a></li>
      <li *ngIf="auth.isAdmin(user)" class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Sair</a>
      </li>
    </ul>
  </div>

</nav>