<div>
    <h1 class="songTitle mb-3"><strong>{{ song.title }}</strong></h1>
</div>

<!-- FILES | VIDEOS BUTTONS -->
<div class="btn-group mt-2" role="group" aria-label="Tab Selecionada">
    <button type="button" class="btn btn-secondary" (click)="selectTab('files')" [class.active]="selectedTab == 'files'">
        Ficheiros <span class="badge badge-light">{{ uploads?.length }}</span>
    </button>
    <button type="button" class="btn btn-secondary" (click)="selectTab('videos')" [class.active]="selectedTab == 'videos'">
        Vídeos <span class="badge badge-light">{{ videos?.length }}</span>
    </button>
</div>

<!-- UPLOAD FORM -->
<span *ngIf="auth.isAdmin(user) && selectedTab == 'files'" class="float-right mt-2">
    <button type="button" class="btn btn-secondary" (click)="openModal(upload)">
        <span class="d-none d-sm-block">Carregar Ficheiro</span>
        <span class="d-block d-sm-none"><i class="fa fa-upload"></i></span>
    </button>
</span>

<!-- ADD VIDEO FORM -->
<span *ngIf="auth.isAdmin(user) && selectedTab == 'videos'" class="float-right mt-2">
    <button type="button" class="btn btn-secondary" (click)="openModal(video)">
        <span class="d-none d-sm-block">Adicionar Vídeo</span>
        <span class="d-block d-sm-none"><i class="fa fa-plus"></i></span>
    </button>
</span>

<!-- FILES TAB -->
<div *ngIf="selectedTab === 'files'" class="files mt-3">
    <div *ngIf="uploads?.length == 0">
        <div class="jumbotron text-center">
            <h2>Não existem ficheiros para esta música.</h2>
        </div>
    </div>
    <!-- FILES TABLE -->
    <div *ngIf="uploads?.length != 0" class="table-responsive">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                <th scope="col">Ficheiro</th>
                <th scope="col">Tamanho</th>
                <th scope="col" class="d-none d-sm-block">Data de Carregamento</th>
                <th scope="col" class="text-center">Download</th>
                <th *ngIf="auth.isAdmin(user)" scope="col" class="text-center">Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let upload of uploads">
                <td class="align-middle">{{ upload.name }}</td>
                <td class="align-middle">{{ upload.size | fileSize }}</td>
                <td class="align-middle d-none d-sm-block">{{ upload.createdAt | date }}</td>
                <td class="text-center actions">
                    <a class="mr-2" [href]="upload.url" download><i class="fa fa-download"></i></a>
                </td>   
                <td class="text-center">
                    <a *ngIf="auth.isAdmin(user)" (click)="removeFile(upload)"><i class="fa fa-trash-alt"></i></a>
                </td> 
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- VIDEOS TAB -->
<div *ngIf="selectedTab === 'videos'" class="videos mt-3">
    <div *ngIf="videos?.length == 0">
        <div class="jumbotron text-center">
            <h2>Não existem vídeos para esta música.</h2>
        </div>
    </div>
    <span *ngFor="let video of videos" class="videoFrame">
        <iframe
            width="320" 
            height="200" 
            [src]="video.url | safe"
            frameborder="0" 
            allow="autoplay; encrypted-media" 
            allowfullscreen class="mt-3"></iframe>
            <span *ngIf="auth.isAdmin(user)">
                <button class="btn btn-block" (click)="removeVideo(video)"><i class="fa fa-trash-alt"></i></button>
            </span>
    </span>
</div>

<!-- UPLOAD MODAL -->
<ng-template #upload>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Carregar Ficheiro</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="uploadSingle()" #uploadForm="ngForm" class="input-group">
            <input type="file" class="button" (change)="detectFiles($event)" accept=".pdf,.mp3" class="form-control" aria-label="Ficheiro a Carregar" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="submit" [disabled]="!selectedFiles" class="btn btn-secondary">Upload</button>
            </div>
        </form>
        <div class="mt-3">
            <progressbar [animate]="false" [value]="currentUpload?.progress" [class.completed]="currentUpload?.progress == 100" type="success"></progressbar>
        </div>
    </div>
</ng-template>

<!-- VIDEO MODAL -->
<ng-template #video>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Adicionar Vídeo</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="addVideo(videoToAdd)" #videoForm="ngForm" class="input-group mr-3">
            <input type="text" required [(ngModel)]="videoToAdd.url" name="url" class="form-control" placeholder="ID do Vídeo (YouTube)..." aria-label="Url do Vídeo" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" [disabled]="!videoForm.form.valid">Adicionar</button>
            </div>
        </form>
    </div>
</ng-template>