<div>
    <h3>{{ song.title }}</h3>
</div>

<div>
    <ul *ngFor="let upload of uploads | async">
        <li><app-file-detail [user]="user" [song]='song' [upload]='upload'></app-file-detail></li>
    </ul>
</div>

<h4>Carregar Ficheiro</h4>

<div *ngIf="currentUpload">
    Progresso: {{ currentUpload?.name }} <progress class="progress is-success" max=100 value="{{ currentUpload?.progress }}"></progress>
</div>

<input type="file" class="button" (change)="detectFiles($event)">

<button [disabled]="!selectedFiles" (click)="uploadSingle()">Upload</button>