<div>
    <h3 class="mb-3">{{ song.title }}</h3>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
            <th scope="col">Ficheiro</th>
            <th scope="col">Data de Carregamento</th>
            <th scope="col" class="text-center">Download</th>
            <th *ngIf="auth.canEdit(auth.user$ | async)" scope="col" class="text-center">Remover</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let upload of uploads | async">
            <td class="align-middle">{{ upload.name }}</td>
            <td class="align-middle">{{ upload.createdAt | date }}</td>
            <td class="text-center actions">
                <a class="mr-2" [href]="upload.url" download><i class="fa fa-download"></i></a>
            </td>   
            <td class="text-center">
                <a *ngIf="auth.canEdit(auth.user$ | async)" (click)="removeFile(upload)"><i class="fa fa-trash-alt"></i></a>
            </td> 
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="auth.canEdit(auth.user$ | async)">
    <h5>Carregar Ficheiro</h5>

    <div *ngIf="currentUpload">
        Progresso: <progress class="progress is-success" max=100 value="{{ currentUpload?.progress }}"></progress>
    </div>

    <form (ngSubmit)="uploadSingle()" #uploadForm="ngForm" class="form-inline">
        <input [disabled]="currentUpload" type="file" class="button" (change)="detectFiles($event)" accept=".pdf,.mp3" class="form-control form-control-sm mb-2 mr-sm-2">
        <button type="submit" [disabled]="!selectedFiles || currentUpload" class="btn btn-sm btn-outline-dark mb-2">Upload</button>
    </form>
</div>
