.songTitle {
    font-family: 'Quattrocento', serif;
}

.actions {
    font-size: 18px;
    color: #545B62;
}

.fa-trash-alt {
    color: #545B62;
}

.fa-trash-alt:hover {
    color: rgb(201, 71, 71);
}

a {
    color: #545B62;
    cursor: pointer;
}

a:hover {
    color: #D98600;
}

.files, .videos {
    height: 65vh;
    overflow-y: auto;
}

.btn-block {
    width: 320px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #a3a3a3c7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77);
}

.completed {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}