<div class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="../assets/gatunosLogoW.png" alt="" width="300">
    <h1 class="h3 mb-3 font-weight-normal">Gatunos Backoffice</h1>

    <button (click)="googleLogin()" class="btn btn-lg btn-outline-dark btn-block">Login with Google</button>
    <button (click)="facebookLogin()" class="btn btn-lg btn-outline-dark btn-block">Login with Facebook</button>
    
    <p class="mt-5 mb-3 text-muted">André Lopes&copy; 2017-2018</p>
  </form>
</div>