.active {
    background-color: #343A40;
    border-color: #343A40;
}

.list-group-item {
    cursor: pointer;
}

.fa-trash-alt {
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: rgb(201, 71, 71);
}

.list-group {
    height: 75vh;
    overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #a3a3a3c7;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77);
    border-radius: 5px;
}