.active {
    background-color: #545B62;
    border-color: #545B62;
}

.list-group-item {
    cursor: pointer;
    border-radius: 0;
}

.fa-trash-alt {
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: rgb(201, 71, 71);
}

.list-group {
    height: 70vh;
    overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #a3a3a3c7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77);
}